version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: warehouse_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: warehouse_db
      TZ: Asia/Shanghai # 设置时区
    volumes:
      - db_data:/var/lib/mysql
      - ./server/sql/schema.sql:/docker-entrypoint-initdb.d/1_schema.sql
      - ./server/sql/mysql_setup.sql:/docker-entrypoint-initdb.d/2_setup.sql
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - app-network

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile.production
    container_name: warehouse_backend
    restart: always
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_USERNAME: root
      DB_PASSWORD: rootpassword
      DB_DATABASE: warehouse_db
      JWT_SECRET: your_production_secret
      NODE_ENV: production
      TZ: Asia/Shanghai
    depends_on:
      - db
    ports:
      - '3000:3000'
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.production
    container_name: warehouse_frontend
    restart: always
    environment:
      - VUE_APP_API_BASE_URL=http://175.178.62.26:3000/api
    ports:
      - '80:80'
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
